@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
body {
    margin: 0;
    background-color: #333F48;
    font-family: 'Roboto Mono', monospace;
}

.App {
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #00BEB5;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.board {
    margin: 10px auto;
    background-color: #C4C4C4;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    align-items: center;
}
.yellow-btn {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #E4E83B;
    font-size: 1.5rem;
}
.yellow-btn:hover {
    cursor: pointer;
    color: yellow;
}
.yellow-btn:disabled {
    color: #C4C4C4;
}
/* flip-cards */
.card {
    width: 50px;
    height: 64px;
    border-radius: 10px;
    background-color: transparent;
    perspective: 1000px;
}
.card-inner {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease-out;
    transform-style: preserve-3d;
    cursor: pointer;
    opacity: 1;
}
.card-inner img {
    width: 45px;
}
.card-back, .card-front {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #00BEB5;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: rotateY(180deg);
    opacity: 1;
}

.clicked {
    transform: rotateY(180deg);
}

.not-clicked {
    transform: rotateY(0deg);
}

.matched {
    opacity: 0;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    color: #333F48;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-header {
    color: #E4E83B;
    letter-spacing: 1px;
}
.form-field {
    border-radius: 10px;
    background-color: white;
    height: 2rem;
    margin: 0.5rem;
    border: 1px transparent solid;
    font-family: 'Roboto Mono', monospace;
    color: #333F48;
    width: 200px;
}
.form-field:focus {
    outline: none;
    border: 1px #00BEB5 solid;
}
.checkbox-field {
    width: 250px;
    font-size: 0.8rem;
}
select {
    text-align-last:center;
    font-size: 1.1rem;
}
input {
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

label {
    color: white;
}
.submit-btn {
    background-color: #E4E83B;
    border: none;
    color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-top: 0.5rem;
}
.submit-btn:hover {
    background-color: yellow;
}
.submit-btn:focus, .yellow-btn:focus, .btn:focus {
    border: none;
    outline: none;
}
/* timer */

.timer {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin: 10px auto;
}
.btn-set {
    display: flex;
}
.pause {
    color: orangered;
}

.pause:hover {
    color: #ff7018;
}

.clock {
    color: white;
    font-size: 1.5rem;
    margin: 0 40px;
    line-height: 44px;
}

.btn {
    color: #00BEB5;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    border: none;
    padding-top: 15px;
}
.btn:hover {
    color: white;
}
.btn:disabled {
    color: gray;
}
